extends layout

block content
    p Name
    h6= user.name
    p Address
    h6=  user.address

    hr
    p Fill in Details
    form(action='#')
        input(type="text", name="name", placeholder="Name")
        input(type="number", name="age", placeholder="Number")
        input(type="text", name="sex", placeholder="M or F")
        input(type="email", name="email", placeholder="Email")
        input(type="text", name="address", placeholder="Address")
        button(onclick="update()", type="button") Save

    hr
    p Upload Files
    form(enctype="multipart/form-data", method="POST", action="/dashboard/upload")
        input(type="file", name="file")
        button Save

    script(src="/javascripts/web_deploy.js")
    script(src="/javascripts/web3/index.js")
