doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")

  body
    block content

  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
  script(src="/javascripts/uport/web3.js")
  script(src="/javascripts/uport/truffle-contract.js")
  script(src="/javascripts/web_deploy.js")


